Scene(
    name: "Super Scene",
    viewport_height: 15.0,
    camera_rotation: [0.0, 0.0, 0.0],
    objects: [
        (
            name: "super_obj",
            renderable: Some(Renderable(
                mesh: "monkey",
                texture: "creature",
            )),
            script: Some("test_script"),
            position: Some([0.0, 0.0, 20.0]),
            scale: Some([0.5, 0.5, 0.5]),
            children: Some([
                (
                    name: "child",
                    renderable: None,
                    script: Some("test_script"),
                    position: Some([0.0, 0.1, 0.2]),
                    children: None,
                )
            ]),
        ),
    ],
)