Scene(
    name: "Super Scene",
    viewport_height: 15.0,
    camera_rotation: [0.78, -0.78, 0.0],
    objects: [
        (
            name: "floor",
            renderable: Some(Renderable(
                    mesh: "floor",
                    texture: "tex1",
            )),
            position: Some([-20.0, -2.0, 20.0]),
            scale: Some([10.0, 10.0, 10.0]),
            children: None
        ),
        (
            name: "super_obj",
            renderable: Some(Renderable(
                mesh: "monkey",
                texture: "creature",
            )),
            script: Some("test2"),
            position: Some([0.0, 0.0, 20.0]),
            scale: Some([0.5, 0.5, 0.5]),
            children: Some([
                (
                    name: "child",
                    renderable: None,
                    script: Some("test_script"),
                    position: Some([0.0, 0.1, 0.2]),
                    children: None,
                )
            ]),
        ),
    ],
)
